:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
    --border-radius: 5px;
    --transition: 0.3s;
}


* {
    box-sizing: border-box;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.page {
    background-color: #f1f4f9;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

a {
    text-decoration: none;
}

* {
    outline: none;
}

/* Start Side */
.side {
    transition: var(--transition);
    width: 250px;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    animation: side 1.2s .3s cubic-bezier(.4, 2, .6, 1) backwards;
}

@keyframes side {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.side>h3 {
    margin-bottom: 50px;
    position: relative;
}

.side>h3::before,
.side>h3::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: black;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);

}

.side>h3::after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid white;
    bottom: -29px;
}

.side ul li a {
    transition: var(--transition);
    margin-bottom: 5px;
}

.side ul li a:hover,
.side ul li a.active {
    background-color: #f6f6f6;
}

.side ul li a span {
    margin-left: 10px;

}

@media (max-width: 767px) {
    .side {
        width: 58px;
        padding: 10px;
    }

    .side>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .side>h3::before,
    .side>h3::after {
        display: none;
    }

    .side ul li a span {
        display: none;
    }
}

.content {
    overflow: hidden;
}

/* End Side */

/* Start Header */
.head {
    transition: var(--transition);
    animation: header 1.2s .2s cubic-bezier(.4, 2, .6, 1) backwards;
}

@keyframes header {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    font-size: 14px;
    right: 10px;
    top: 14px;
    transform: translateY(-50%);
    color: var(--gray-color);
}

.head .search input {
    border: 1px solid #ccc;
    width: 160px;
    border-radius: var(--border-radius);
    transition: width 0.3s;
}

.head .search input:focus {
    outline: #ddd;
    width: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}


.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

.head .icons img {
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* End Header */

/* Start heading  */
.heading {
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.heading::before,
.heading::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: white;
    bottom: -10px;
    left: 0;
}

.heading::after {
    width: 50px;
    background-color: black;
}

/* End heading */



/* Start Dashboard-page */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
    }

    .gap-20 {
        gap: 10px
    }
}

.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 200px;
}

.welcome .profile {
    width: 50px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -30px;
}

.welcome .body {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.welcome .body>div {
    flex: 1
}

@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

.welcome .btn {
    margin: 0 10px 10px auto;
    transition: var(--transition);
}


.quick-draft .area {
    resize: none;
    height: 180px;
}


.targets .target-row .icon {
    width: 90px;
    height: 80px;
    text-align: center;
}

.targets .target-row .prog {
    height: 4px;
}

.targets .target-row .prog>span {
    position: absolute;
    height: inherit;
}

.targets .target-row .prog>span span {
    position: absolute;
    bottom: 10px;
    right: -17px;
    padding: 2px 5px;
    border-radius: var(--border-radius)
}

.targets .target-row .prog>span span::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 16px;
    border: 5px solid;
    border-color: var(--blue-color) transparent transparent transparent;
}

.targets .target-row .prog>span .orange:before {
    border-color: var(--orange-color) transparent transparent transparent;
}

.targets .target-row .prog>span .green::before {
    border-color: var(--green-color) transparent transparent transparent;
}

.tickets>div {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.tickets .ticket {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.latest .news {
    border-bottom: 1px solid #eee;
}

.latest .news>img {
    width: 120px;
    border-radius: 10px;
    margin-right: 15px;
}


.latest .news .a {
    border-radius: 10px;
    margin: 0 10px 10px auto;
    padding: 5px 10px;
}

@media(max-width:767px) {
    .latest .news {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .latest>h1 {
        margin-bottom: 15px;
    }

    .latest .news .a {
        width: fit-content;
        margin: 10px auto;
    }
}

.tasks .icon:hover {
    transition: var(--transition);
    color: var(--red-color);
    cursor: pointer;
}

.tasks .data .line {
    text-decoration: line-through;
}

.search .content span {
    padding: 3px 15px;
    border-radius: var(--border-radius);
    background-color: #eee;
}

.uploads .content .img {
    width: 50px;
    margin-right: 15px;
}

.uploads .content .info {
    flex: 1;
}

.uploads .content>span {
    padding: 3px 15px;
    border-radius: var(--border-radius);
    background-color: #eee;
}

.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.last-project .launch-icon {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}

@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}

.reminders ul .ball {
    width: 15px;
    height: 15px;
}

.post .info img {
    width: 60px;
    height: 60px;
    border: 5px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.post p {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.social .item>span {
    position: absolute;
    left: 90px;
    font-size: 18px;
}

.social .item i {
    padding: 20px;
}

.social .item a {
    padding: 15px;
}

.bg-twt {
    background-color: #1da0f2b3;
}

.bg-fcbok {
    background-color: #1876f26f;
}

.bg-linked {
    background-color: #407a9ea8;
}

.bg-tube {
    background-color: #ff0000a9;
}

table {
    min-width: 1000px;
    border-spacing: 0;
}

.table .responsve-table {
    overflow-x: auto;
}

.table td {
    padding: 20px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.table img {
    width: 30px;
    border-radius: 50%;
    border: 3px solid white;
}

.table img:not(:first-child) {
    margin-left: -20px;
}

/* End Dashboard-page */

/* Start Setting-page */

.setting-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (max-width:767px) {
    .setting-page {
        grid-template-columns: minmax(150px, 1fr);
        padding: 10px;
    }


}

.site-control textarea {
    resize: none;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.general input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius)
}

.general .email {
    display: inline-flex;
    width: calc(100% - 80px);
    cursor: no-drop;
}

.social .info i {
    color: gray;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 5px 0 0 5px;
    transition: var(--transition);
}

.social input {
    width: 100%;
    border: 1px solid #ddd;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
}

.social>div:focus-within i {
    color: black;
}

.widgets input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

.widgets label {
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.widgets label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--gray-color);
    border-radius: var(--border-radius);
    left: 1px;
    top: 4px;
}

.widgets label:hover::before {
    border-color: var(--blue-alt-color);
}

.widgets label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    position: absolute;
    width: 19px;
    height: 19px;
    font-weight: 800;
    font-size: 13px;
    left: 1px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 3px;
    background-color: var(--blue-color);
    transform: scale(0) rotate(360deg);
    transition: var(--transition);
}

.widgets input[type="checkbox"]:checked+label::after {
    transform: scale(1);
}

.backup .date input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup .date label {
    padding-left: 30px;
    cursor: pointer;
}

.backup .date label:hover::before {
    border-color: var(--blue-color)
}

.backup .date label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--gray-color);
    border-radius: 50%;
    left: 0px;
    top: 4px;
}

.backup .date label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-weight: 800;
    font-size: 13px;
    left: 4px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: var(--blue-color);
    transform: scale(0);
    transition: var(--transition);
}

.backup input[type="radio"]:checked+label::after {
    transform: scale(1);
}

.backup .serves {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.backup .col {
    width: 100%;
    padding: 20px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
}

@media(max-width:767px) {
    .backup>div {
        flex-wrap: wrap;
    }
}

.backup .col i {
    display: block;
    margin-bottom: 10px;
}

.backup input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup input[type="radio"]:checked+.col {
    border-color: var(--blue-color);
    color: var(--blue-color);
}

@media (max-width:767px) {
    .profile-page .prof {
        flex-direction: column;
    }
}

/* Start Setting-page */

/* Start Profile-Page */
.profile-page {
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.profile-page .prof img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 0;
}

.profile-page .prof .image {
    border-right: 1px solid #eee;
    padding: 20px;
}

@media (max-width:767px) {
    .profile-page .prof .image {
        border: none;
    }
}

.profile-page .prof .range {
    width: 150px;
    height: 4px;
}

.profile-page .prof .range span {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue-color);
}


.profile-page .info .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: var(--transition);
}

.prof .info .box:hover {
    background-color: #f9f9f9;
}

.prof .info .box div:not(:last-child) {
    min-width: 250px;
    padding: 10px 0 0;
}

.prof .info .box .toggle-swetch {
    width: 70px;
    height: 20px;
}

@media (max-width: 767px) {
    .profile-page .info .toggle-switch {
        margin: auto;
    }
}

.prof .info .box .toggle-swetch::before {
    width: 15px;
    height: 15px;
}

.skills {
    flex-grow: 1;
}

@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }

}

.skills ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 10px;
    font-size: 18px;
    transition: var(--transition);
}

.skills ul li:hover {
    background-color: #ddd;
    color: var(--blue-color);
}

.latest {
    flex-grow: 2;
}

.latest .info img {
    width: 70px;
    margin-right: 15px;
}

.latest .info .time {
    margin-left: auto;
}

/* End Profile-Page */


/* Start Project-Page */

.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media (max-width:767px) {
    .projects-page .box-info {
        width: 340px;
        padding: 15px;
    }
}

.projects-page .box-info .span {
    position: absolute;
    right: 10px;
    top: 10px;
}

.projects-page .box-info .images img {
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 15px;
}

.projects-page .box-info .images img:not(:first-child) {
    margin-left: -10px;
}

.projects-page .box-info .data span {
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
    font-size: 14px;
}

@media (max-width:767px) {
    .projects-page .box-info .data span {
        display: block;
        margin-bottom: 10px;
        width: fit-content;
    }
}

.projects-page .box-info .range>div {
    position: relative;
    width: 200px;
    height: 5px;
    background-color: #eee;
    border-radius: var(--border-radius)
}

.projects-page .box-info .range div span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: var(--border-radius)
}

@media (max-width:767px) {
    .projects-page .box-info .range {
        flex-direction: column;
    }

    .projects-page .box-info .range div {
        margin-bottom: 15px;
    }
}

/* End Project-Page */

/* Start Courses-Page */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.courses-page .box {
    overflow: hidden;
}

.courses-page .box>img {
    width: 100%;
}

.courses-page .box .one {
    width: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid white;
    border-radius: 50%;
}

.courses-page .box .info p {
    line-height: 1.4;
}

.courses-page .box .data .btn {
    cursor: pointer;
    background-color: var(--blue-color);
    color: white;
    padding: 5px;
    border-radius: var(--border-radius)
}

.courses-page .box .data .btn:hover {
    background-color: var(--blue-alt-color);
}

/* End Courses-Page */

/* Start Files-Page */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.files-page .pdf-file {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex: 1;
}

@media (max-width:767px) {
    .files-page {
        flex-direction: column;
    }

    .files-page .pdf-file {
        width: 100%;
    }
}


.files-page .pdf-file .box .img img {
    width: 80px;
    transition: var(--transition);
}

.files-page .pdf-file .box .img i {
    left: 0px;
}

.files-page .list-files {
    width: 300px;
}

.files-page .list-files .icon {
    width: 40px;
    height: 40px;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.files-page .list-files .item .size {
    margin-left: auto;
}

.files-page .list-files .btn {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: var(--blue-color);
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.files-page .list-files .btn:hover i {
    animation: btni 0.3s infinite alternate;
    background-color: var(--blue-alt-color);

}

.files-page .pdf-file .box:hover img {
    transform: rotate(10deg);
}

@keyframes btni {
    from {
        transform: translateY(1px);
    }

    to {
        transform: translateY(-5px);
    }
}

/* End Files-Page */

/* Start Plans-Page */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    animation: sectionFade 1.2s cubic-bezier(.4, 2, .6, 1);
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(60px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.plans-page .plan .info {
    border: 2px solid white;
}

.plans-page .plan:nth-child(1) .info {
    outline: 2px solid var(--green-color);
}

.plans-page .plan:nth-child(2) .info {
    outline: 2px solid var(--blue-color);
}

.plans-page .plan:nth-child(3) .info {
    outline: 2px solid var(--orange-color);
}

@media (max-width: 767px) {
    .plans-page {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .plans-page .plan {
        width: 100% !important;
        padding: 10px !important;
        margin-bottom: 15px;
    }

    .plans-page .plan .info h1 {
        font-size: 22px;
    }

    .plans-page .plan .info h3 {
        font-size: 16px;
    }

    .plans-page .plan ul {
        padding: 0;
    }

    .plan li span {
        font-size: 14px;
        padding: 8px 0;
    }

    .plan .help {
        font-size: 14px;
        padding: 5px 10px;
    }
}


/* End Plans-Page */


/* Start Toggle */
.toggle-box {
    -webkit-appearance: none;
    appearance: none;
}

.toggle-swetch {
    position: relative;
    width: 80px;
    height: 30px;
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
}


.toggle-swetch::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 4px;
    transition: 0.5s;
}

.toggle-box:checked+.toggle-swetch {
    background-color: var(--blue-color);
}

.toggle-box:checked+.toggle-swetch::before {
    left: 50px;
}

/* End Toggle */

/* Start Btn Shape */
.btn-shape {
    border: none;
    border-radius: var(--border-radius);
    padding: 3px 10px;
    margin: 0 10px 10px auto;
    background-color: var(--blue-color);
    width: fit-content;
    color: white;
    text-align: center;
    cursor: pointer;
}

.shape {
    border-radius: var(--border-radius);
    padding: 3px 10px;
    background-color: #eee;
    width: fit-content;
    text-align: center;
}

.btn-shape:hover {
    background-color: var(--blue-alt-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:767px) {
    .btn-shape {
        margin: 0 auto 15px;
    }
}

/* End Btn Shape */